.date-card {
    width: 180px;
    height: 102px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.date-card__last {
    width: 180px;
    height: 102px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.date-picker {
    display: flex;
    justify-content: center;
}

.date-button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin-right: 15px;
    margin-bottom: 15px;
  }